.Container{

    h2{
        text-align: center;
        margin: 20px;
    }

    .ListeName{
        margin-left: 5%;
        padding: 10px;
    }
}



.Card-User{
    display: grid;
    margin: 15px;
    grid-template-columns: repeat(3, 360px);
    justify-content: space-evenly;
}

.User-info{
    padding: 10px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.199) 1px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.user-mail{
    display: flex;
    gap: 5px;
    padding: 10px;
}
.user-photo-admin{
    width: 100px;
    height: 100px;
    padding: 10px;

    img{
        width: 100%;

    }
}

.card-role{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.main-admin{
    display: flex;
    flex-direction: column;
    gap: 50px;
}