.BarreLateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-color: #a8a8a8;
    color: white;
    width: 223px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.Lien-BarreLateral{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    a{
        padding: 0.5rem 1rem;
        transition: background-color 0.3s ease, color 0.3s ease;
        border-radius: 8px;
        text-decoration: none;
        color: #ffffff;
    }
    a:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: #000;
    }
}
