.chatBox-Container{
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: 8px;
    h3{
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;
        background-color: black;
        border-radius: 20px;
        height: 200px;
        
    }

    textarea{
        border-radius: 20px;
        padding: 20px;
        border: none;
        color: white;
        background-color: black;
        outline: none;
        height: 100%;
        width: 100%;
        resize: none;
    }
}
.form-btn{
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px;


    button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 100%;
        height: auto;
        width: auto;
        padding: 10px;
        margin: 0;
    }

    button:hover{
        transition: background-color 0.3s ease, color 0.3s ease;
        color: white;
    }
}

.main-conv{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #000000;
    border-radius: 18px;
    height: 100%;
    overflow-y: auto;
    margin-bottom: 10px;
}