footer {
  background-color: #000000;
  color: #fff;
  padding: 10px 25px 10px  25px;
  display: flex;
  justify-content: center;
  align-items: center;

  div ul{
    display: flex;
    gap: 20px;
  }
}