.main{
    display: flex;
}

.ia{
    height: 100%;
}

.main-content{
    display: flex;
    flex-direction: column;
    width: 100%;

    .ia{
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
.newsContainer{
    height: auto; /* Enlève la hauteur fixe pour un comportement dynamique */
}
.News{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    padding: 20px;
    height: 100%; 
    grid-gap: 20px;
}
