.main{
    display: flex;
}

.ia{
    height: 100%;
}

.main-content{
    display: flex;
    flex-direction: column;
    width: 100%;

    .ia{
        height: 100%;   
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
.newsContainer{
    height: auto;
}
.News{
    display: grid;
    padding: 20px;
    height: 100%; 
    grid-gap: 20px;
}
